
body {
    background-color: #FFF3B0;
}

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #540B0E;
    margin-bottom: 30px;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #540B0E;
    width: fit-content;
    margin-bottom: 0px;
}

h4 {
    color: #335C67;
    margin-bottom: 0px;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin: 10px;
}

ul {
    line-height: 30px;
    display: flex;
    flex-direction: column;
}

strong{
    text-decoration: underline;
}

em {
    text-decoration: underline;
}

a {
    color: black;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
    color: #9E2A2B;
}

#selfie {
    padding: 10px;
    background-color: #E09F3E;
    border-radius: 30%;
    max-height: 200px;
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.navbar {
    display:flex;
    justify-content: space-around;
    align-content: center;
}

.description {
    max-width: 300px;
}

.lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lists2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links {
    display:flex;
    flex-direction: column;
}

h3 {
    align-self: center;
}