
body {
    background-color: #FFF3B0;
}

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #540B0E;
    margin-bottom: 30px;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #540B0E;
    width: fit-content;
    margin-bottom: 0px;
}

h4 {
    margin-top: 10px;
    color: #335C67;
    margin-bottom: 0px;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin: 10px;
}

ul {
    line-height: 30px;
    width: fit-content;
    display: inline-block;
}

ul.habilidades li:nth-child(2n+1) {
    text-decoration:underline;
}

strong{
    text-decoration: underline;
}

em {
    text-decoration: underline;
}

a {
    color: black;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
    color: #9E2A2B;
}

.descricao {
    display:inline-block;
    max-width: 60%;
    vertical-align: top;
    margin-top: 60px;
    margin-left: 20px;
}

.bigger {
    font-size: 115%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#selfie {
    position: left;
    display:inline-block;
    margin-left: 10%;
    padding: 10px;
    background-color: #E09F3E;
    border-radius: 30%;
}

#sobre {
    align-items: center;
    align-self: center;
    align-content: center;
    margin-left: 200px;
}

.sideBySide {
    width: fit-content;
    display: inline-block;
    margin: auto;
    align-items: center;
}

#projetos {
    display: inline-block;
    text-align: top;
    width: fit-content;
    height: auto;
    width: fit-content;
    
}

#links {
    margin-left: 150px;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    width: fit-content;
}
