header {
  margin: auto;
  text-align: center;
}

button {
  align-self: center;
  margin: auto;
}

#colors-guess {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

#output , #button , #placar {
  display: block;
  margin: auto;
  width: fit-content;
}

.ball {
  display: inline-block;
  border: 3px solid black;
  width: 60px;
  margin: 5px;
  height: 60px;
  border-radius: 50%;
}
